// Your custom variables
$color-primary: rgb(0, 123, 255);
$color-white: rgb(249, 249, 249);
$color-border-line: rgb(108, 117, 125);
$color-dark: hsl(0, 0%, 0%);
$color-grey-dark: rgb(52, 58, 64);
$spacer-x: 1rem;
$spacer-y: 1rem;

$font-primary: 'Roboto', sans-serif;
