.container {
  &__background {
    padding: 0 22rem;
    margin-top: 2rem;

    @media (max-width: 1280px) {
      padding: 0 15rem;
    }

    @media (max-width: 1199.98px) {
      padding: 0 4rem;
    }

    @media (max-width: 767.98px) {
      padding: 0 1rem;
    }
  }

  &__alert {
    display: flex;

    & > * > i {
      font-size: 4rem;
    }

    &--text {
      margin: 0 1rem;
      font-size: 1.6rem;
      font-weight: 700;
    }
    &--button {
      font-size: 1.2rem !important;
      font-weight: 700 !important;
    }
  }
}

.release__box {
  border: 0.2rem solid #7446ac;
}

.release__box--right {
  @media (max-width: 1199.98px) {
    text-align: center;
  }
}

.release__text {
  font-size: 1.8rem;

  @media (max-width: 1199.98px) {
    text-align: center;
  }
}

.icon__check {
  color: #7446ac;
}

.release__btn {
  font-size: 1rem !important;
}

.card {
  &__typo {
    &--head {
      text-align: center;
    }
    &--detail {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      color: $color-grey-dark;
    }
    &--link {
      color: $color-grey-dark;
    }
    &--link:hover {
      color: $color-grey-dark;
    }
  }

  &__btnBox {
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 1280px) {
      width: 100%;
    }

    &--btn {
      font-size: 1.2rem !important;
    }
  }
}
