.header {
  &__container {
    height: 21.5rem;
  }
  &__box {
    background-color: rgba($color-dark, 0.2);
    height: 100%;

    &--title {
      padding-top: 7rem;
      font-weight: 700;
      font-size: 2.4rem;

      @media (max-width: 575.98px) {
        font-size: 2.5rem;
      }
    }
    &--text {
      font-weight: bolder;
      font-size: 1.8rem;
      width: 80%;
      margin: 0 auto;

      @media (max-width: 767.98px) {
        width: 100%;
      }

      @media (max-width: 575.98px) {
        font-size: 1.6rem;
      }
    }
  }
}
