.header {
  &__container {
    height: 14.5rem;
  }
  &__box {
    background-color: rgba($color-dark, 0.2);
    height: 100%;

    &--title {
      font-weight: 700;
      font-size: 3rem;
    }
    &--text {
      font-weight: bolder;
      font-size: 1.8rem;
      width: 80%;
      margin: 0 auto;
    }
  }
}
