.menu-side {
  &__container {
    background-color: rgba($color-white, 0.8);
  }

  &__logo {
    &--box {
      height: 9rem;
      background-color: $color-white;
      border-bottom: solid 1px rgba($color-border-line, 0.3);
    }

    &--link {
      display: flex;
      align-content: stretch;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &--image {
      background-size: cover;
      background-repeat: no-repeat;
      image-rendering: crisp-edges;
      width: 115px;
      height: 40px;
    }
  }

  &__search {
    &--input {
      margin: 0 !important;
      font-size: 1.6rem !important;
      font-weight: lighter !important;
      padding-left: 2rem !important;
      background-color: $color-white !important;
      &:active,
      &:focus {
        border-bottom: none !important;
        margin: 0 !important;
      }

      &::placeholder {
        color: rgba($color-border-line, 0.8) !important;
      }
    }
  }
}
