.nav__left {
  flex-direction: row !important;
}

.nav__right {
  font-size: 1.5rem !important;
  flex-direction: row !important;
}

.nav__user--image {
  border-radius: 50%;
}

.nav__btn--text {
  display: inline;
}

.hamburger__nav {
  display: none;
}

.hamburger__icon {
  font-size: 2rem !important;
  color: #33b5e5;
  cursor: pointer;
}
