.page {
  height: 100vh;
}

.container-right {
  padding-left: 21.8rem !important;
}

.navcontainer {
  height: 7rem;
  position: fixed;
  width: calc(100% - 21.8rem);
  z-index: 99;
  transition: height 0.64s linear;
}

.decrease_nav {
  height: 5rem;
}

.contentcontainer {
  margin-top: 7rem;
}

.menuside__box {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/sidenav4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menuside__width {
  width: 21.8rem;
  height: 100%;
  z-index: 999;
}
