.page {
  height: 100vh;
}

.container-right {
  padding-left: 21.8rem !important;

  @media (max-width: 1280px) {
    padding-left: 0 !important;
  }
}

.navcontainer {
  height: 7rem;
  position: fixed;
  width: calc(100% - 21.8rem);
  z-index: 999;
  transition: height 0.64s linear;

  @media (max-width: 1280px) {
    width: 100%;
  }
}

.decrease_nav {
  height: 5rem;
}

.menuside__box {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/sidenav4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  z-index: 999;
}

.menuside__width {
  width: 21.8rem;
  height: 100%;
  position: absolute;
  z-index: 1000;

  @media (max-width: 1280px) {
    transition: all 1s;
  }
}

.menuside__width--area {
  width: 100vw;
  height: 100%;
  top: 0rem;
  left: 0rem;
  position: fixed;
  z-index: 500;
  background-color: rgba($color-grey-dark, 0.44);
}

.slideleft {
  @media (max-width: 1280px) {
    transform: translateX(-21.8rem);
  }
}

.fadeout {
  animation: fadeout 0.6s 1;
}
.fadein {
  animation: fadein 0.6s 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
