* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-size: 1.6rem;
}

.clearPadMar {
  padding: 0 !important;
  margin: 0 !important;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

.md-form {
  margin: 0 !important;

  &:focus {
    outline: none;
  }
}
